@import "tailwindcss";

/* prevent default styling for input fields in browsers */
@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: #4a5565 !important;
    }
}
/* Define font-face */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/quicksand/Quicksand_Light.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/quicksand/Quicksand_Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Quicksand', sans-serif;
}

